<div class="box-body pb-0">
    <div class="row" id="ajaxsearchreslt">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top:2%">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #fff;">Search Result</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dtble_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="dtble_length"><label>Show <select
                                                name="dtble_length" aria-controls="dtble" class="form-control input-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries</label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="dtble_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                class="form-control input-sm" placeholder=""
                                                aria-controls="dtble"></label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped dataTable no-footer" id="dtble"
                                        role="grid" aria-describedby="dtble_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="dtble" rowspan="1"
                                                    colspan="1" aria-sort="ascending"
                                                    aria-label="#: activate to sort column descending"
                                                    style="width: 7px;">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="dtble" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Supplier's details: activate to sort column ascending"
                                                    style="width: 713px;">Supplier's details</th>
                                                <th class="sorting" tabindex="0" aria-controls="dtble" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Covid Resource: activate to sort column ascending"
                                                    style="width: 58px;">Covid Resource</th>
                                                <th class="sorting" tabindex="0" aria-controls="dtble" rowspan="1"
                                                    colspan="1" aria-label="District: activate to sort column ascending"
                                                    style="width: 46px;">District</th>
                                                <th class="sorting" tabindex="0" aria-controls="dtble" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Resource Sub-Item: activate to sort column ascending"
                                                    style="width: 58px;">Resource Sub-Item</th>
                                                <th class="sorting" tabindex="0" aria-controls="dtble" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Last Updated On/By: activate to sort column ascending"
                                                    style="width: 52px;">Last Updated On/By</th>
                                            </tr>
                                        </thead>
                                        <tbody>














                                            <tr role="row" class="odd">
                                                <td class="sorting_1">1</td>
                                                <td style="width: 40%;">
                                                    <p><label>Organization Name: </label> Vaibhav Oxygen</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9871878337">9871878337</a></p>
                                                    <p><label>Address One: </label> A-38, B-1 Extension </p>
                                                    <p><label>Address: </label> Mohan Cooperative Industrial Estate
                                                        Extension, Block E, Mohan Cooperative Industrial Estate,
                                                        Badarpur, New Delhi, Delhi, India </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>SOUTH</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 02:03:20</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">2</td>
                                                <td style="width: 40%;">
                                                    <p><label>Organization Name: </label> Vaibhav Oxygen</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9871979337">9871979337</a></p>
                                                    <p><label>Address One: </label> A-38-B-1,Extension Mohan
                                                        Co-operative Industrial Estate Badarpur, New Delhi-110044 </p>
                                                    <p><label>Address: </label>
                                                        Https://www.google.com/maps?q=vaibhav+oxygen&amp;rlz=1C1CHBF_enIN924IN924&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ved=2ahUKEwjywLX67o7wAhUSOisKHUohCksQ_AUoBHoECAEQBg
                                                    </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>South East</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 01:44:50</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">3</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> -</p>
                                                    <p><label>Organization Name: </label> Jainsons</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9899188821">9899188821</a></p>
                                                    <p><label>Address One: </label> Kotla Mubarakpur, Bhishma Pitamah
                                                        Marg </p>
                                                    <p><label>Address: </label>
                                                        Https://www.google.com/maps/place/Jainsons+Lights+Kotla+(Defence+colony)/@28.5696831,77.2260355,15z/data=!4m5!3m4!1s0x0:0x26901aee66405c53!8m2!3d28.569687!4d77.2260356
                                                    </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>NEW DELHI</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 01:53:50</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">4</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> V&amp; M Galaxy</p>
                                                    <p><label>Organization Name: </label> V &amp; M Galaxy 01123277526
                                                    </p>
                                                    <p><label>Landline No: </label> <a
                                                            href="tel:0112371833">0112371833</a> </p>
                                                    <p><label>Address One: </label> 8-b netaji subash marg daryaganj
                                                        delhi </p>
                                                    <p><label>Address: </label> Daryaganj, New Delhi, Delhi, India </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>CENTRAL</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 02:44:24</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">5</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> Deepak</p>
                                                    <p><label>Organization Name: </label> Mahavir enclave part 3</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9311727821">9311727821</a></p>
                                                    <p><label>Landline No: </label> <a
                                                            href="tel:9643981104">9643981104</a> </p>
                                                    <p><label>Address One: </label> Uttam nagar </p>
                                                    <p><label>Address: </label> Uttam Nagar, Delhi, India </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>NEW DELHI</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 03:42:49</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">6</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> Deepak</p>
                                                    <p><label>Organization Name: </label> Mahavir enclave part 3</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9311727821">9311727821</a></p>
                                                    <p><label>Landline No: </label> <a
                                                            href="tel:9643981104">9643981104</a> </p>
                                                    <p><label>Address One: </label> Uttam nagar </p>
                                                    <p><label>Address: </label> Uttam Nagar, Delhi, India </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>NEW DELHI</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 03:44:09</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">7</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> Deepak</p>
                                                    <p><label>Organization Name: </label> Mahavir enclave part 3</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9311727821">9311727821</a></p>
                                                    <p><label>Landline No: </label> <a
                                                            href="tel:9643981104">9643981104</a> </p>
                                                    <p><label>Address One: </label> Uttam nagar </p>
                                                    <p><label>Address: </label> Uttam Nagar, Delhi, India </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>NEW DELHI</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 03:45:18</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">8</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> -</p>
                                                    <p><label>Organization Name: </label> Hukam Chand and Sons</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9899233554">9899233554</a></p>
                                                    <p><label>Landline No: </label> <a
                                                            href="tel:1124372745">1124372745</a> </p>
                                                    <p><label>Address One: </label> 824/5, Temple Rd, Jangpura, Samman
                                                        Bazar, Bhogal, New Delhi, Delhi 110014 </p>
                                                    <p><label>Address: </label> Https://g.page/hukam-chand-sons?share
                                                    </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>South East</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 04:03:58</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">9</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> -</p>
                                                    <p><label>Organization Name: </label> Oxy Refill</p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9873972439">9873972439</a></p>
                                                    <p><label>Address One: </label> Old delhi 6 chawri bazar lal kuan
                                                    </p>
                                                    <p><label>Address: </label>
                                                        Https://www.google.com/maps?q=28.653411865234375,77.22229766845703&amp;z=17&amp;hl=en
                                                    </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>NORTH</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 04:12:51</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">10</td>
                                                <td style="width: 40%;">
                                                    <p><label>Name: </label> -</p>
                                                    <p><label>Organization Name: </label> Pawar Medicare Gases </p>
                                                    <p><label>Mobile No: </label> <a
                                                            href="tel:9899576076">9899576076</a></p>
                                                    <p><label>Address One: </label> 14, Arjun Nagar, Main Road, Opp.
                                                        Green Park Extension, Near Sukhmani Hospital, Safdurjang
                                                        Enclave, New Delhi-29 </p>
                                                    <p><label>Address: </label> Https://goo.gl/maps/By1ZPU3wTEPtMUyc6
                                                    </p>
                                                </td>
                                                <td>Oxygen</td>

                                                <td>SOUTH WEST</td>

                                                <td>
                                                </td>
                                                <td>2021-04-24 04:15:53</td>
                                                <!--                                    <td>Update</td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="dtble_info" role="status" aria-live="polite">
                                        Showing 1 to 10 of 14 entries</div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dtble_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" id="dtble_previous"><a
                                                    href="#" aria-controls="dtble" data-dt-idx="0"
                                                    tabindex="0">Previous</a></li>
                                            <li class="paginate_button active"><a href="#" aria-controls="dtble"
                                                    data-dt-idx="1" tabindex="0">1</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="dtble"
                                                    data-dt-idx="2" tabindex="0">2</a></li>
                                            <li class="paginate_button next" id="dtble_next"><a href="#"
                                                    aria-controls="dtble" data-dt-idx="3" tabindex="0">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#dtble').DataTable();
            });
        </script>
        <link rel="stylesheet" href="https://covidfacts.in/assets/css/dataTables.bootstrap.min.css">
        <script src="https://covidfacts.in/assets/js/jquery.dataTables.min.js"></script>
        <script src="https://covidfacts.in/assets/js/dataTables.bootstrap.min.js"></script>
    </div>
</div>